.item-dark {
    display: flex;
    flex-direction: column;
    border: 1px solid #304050;
    border-radius: 15px;
    background: #304050;
    padding: 15px;
    width: 100%;
    color: var(--tg-theme-text-color);
}

.item-light {
    display: flex;
    flex-direction: column;
    border: 1px solid #a2b2b6;
    border-radius: 15px;
    background: #a2b2b6;
    padding: 15px;
    width: 100%;
    color: var(--tg-theme-text-color);
}

.img {
    width: 100%;
    background: lightgray;
    height: 100%;
    /*margin: 0 auto;*/
    background: var(--tg-theme-button-color);
}