.item-dark {
    display: flex;
    flex-direction: column;
    border: 1px solid #293642;
    border-radius: 15px;
    background: #293642;
    padding: 15px;
    width: 100%;
    color: var(--tg-theme-text-color);
}

.item-light {
    display: flex;
    flex-direction: column;
    border: 1px solid #ecf6f0;
    border-radius: 15px;
    background: #ecf6f0;
    padding: 15px;
    width: 100%;
    color: var(--tg-theme-text-color);
}

.img {
    width: 100%;
    background: lightgray;
    height: 100%;
    /*margin: 0 auto;*/
    background: var(--tg-theme-button-color);
}

.price {
    font-weight: bold;
}