.container-dark {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 10px;
    color: var(--tg-theme-text-color);
    background: #293642;
    border: 1px solid #293642;

}

.container-light {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 10px;
    color: var(--tg-theme-text-color);
}

.b1 {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.name-and-street {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.booking-date {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.duration {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.guest-count {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.comment-details {
    display: flex;
    flex-direction: column;
}